<ol class="stitch" id="accordion_2" style="width: auto; height: auto; list-style-type: upper-latin">
    <li>
        <div>
            <span class="caption-content"><span class="count">01</span><span class="caption-text">Hipster COLLECTION</span></span>
        </div>
        <div>
            <img src="theme/assets/images/slide1.jpg" alt="image">
        </div>
    </li>
    <li>
        <div>
            <span class="caption-content"><span class="count">02</span><span class="caption-text">Winter Collection </span></span>
        </div>
        <div>
            <img src="theme/assets/images/slide2.jpg" alt="image">
        </div>
    </li>
    <li>
        <div>
            <span class="caption-content"> <span class="count">03</span><span class="caption-text">LOOKBOOK COLLECTION</span> </span>
        </div>
        <div>
            <img src="theme/assets/images/slide3.jpg" alt="image">
        </div>
    </li>
</ol>
<!--Content Area Start-->
<div class="content homepage-two">
    <div class="welcome-block">
        <div class="container">
            <div class="row">
                <h2>Welcome <em>to</em> LookShop</h2>
            </div>
        </div>
    </div>
    <div class="collection-links">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="collection-link">
                        <a href="#"><img src="theme/assets/images/cimg1.jpg" alt="image" /> <span class="collection-text">MEN COLLECTION</span> </a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="collection-link">
                        <a href="#"><img src="theme/assets/images/cimg2.jpg" alt="image" /><span class="collection-text">COUPLE COLLECTION</span></a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <figure class="collection-link">
                        <a href="#"><img src="theme/assets/images/cimg3.jpg" alt="image" /><span class="collection-text">WOMEN COLLECTION</span></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-block container">
        <div class="row">
            <div class="block-heading">
                <h2>FEATURED PRODUCTS</h2>
                <span class="border-image"> <img src="theme/assets/svg/shape.svg" alt="image" class="svg" /> </span>
            </div>
            <ul class="product-block center-block"  id="project-terms">
                <li id="all">
                    <a href="javascript:void(0)">ALL</a>
                </li>
                <li id="cat1">
                    <a href="javascript:void(0)">HOT</a>
                </li>
                <li id="cat2">
                    <a href="javascript:void(0)">BEST</a>
                </li>
                <li id="cat3">
                    <a href="javascript:void(0)">NEW</a>
                </li>
            </ul>
            <div class="product-section main" id="product-section">
                <div class="product-section-content product-description main-item cat1">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-six.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-six.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat2">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-seven.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-seven.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Black</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat3">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-eight.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-eight.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat1">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-nine.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-nine.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Mounth</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat2">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-six.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-six.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat3">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-seven.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-seven.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Black</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat1">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-eight.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-eight.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat2">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-nine.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-nine.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Mounth</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat3">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-six.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-six.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat1">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-seven.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-seven.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Black</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat2">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-eight.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-eight.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat3">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-nine.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-nine.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Mounth</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat1">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-six.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-six.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat2">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-seven.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-seven.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Black</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat3">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-eight.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-eight.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="product-section-content product-description main-item cat1">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-nine.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-nine.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Mounth</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
            </div>
            <div id="projects-copy" class="hide"></div>
        </div>
    </div>
    <div class="parallax story-section">
        <div class="container">
            <section class="story-text">
                <h2>The Vintage Online Stories</h2>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,  making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
                </p>
                <a href="#" class="check-it">CHECK IT NOW</a>
            </section>
        </div>
    </div>
    <div class="new-product container">
        <div class="row">
            <div class="block-heading">
                <h2>NEW PRODCUTS</h2>
                <span class="border-image"> <img src="theme/assets/svg/shape.svg" alt="image" class="svg" /> </span>
            </div>
            <div class="product-section">
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-six.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-six.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-seven.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-seven.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                        <span class="badge-info left"> NEW </span>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Black</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-eight.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-eight.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro White</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-nine.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-nine.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                        <span class="badge-info right"> SALE </span>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">T-Shirt Retro Mounth</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-ten.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-ten.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">The Wild Ones Raglan</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-eleven.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-eleven.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">DBD Skull Long Sleeve</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-twelve.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-twelve.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                        <span class="badge-info right"> NEW </span>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">Death is Fearful Raglan</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span>&nbsp; <del> $ 97.00</del></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 product-description">
                    <figure class="product-image">
                        <img src="theme/assets/images/img-thirteen.jpg" alt="product" />
                        <div class="overlay">
                            <div class="product-view-block">
                                <div class="product-view clearfix">
                                    <a href="theme/assets/images/img-thirteen.jpg" class="zoom icon_zoom-in_alt single_image"></a><a href="#" class="data-report icon_datareport"></a><a href="#" class="heart icon_heart_alt"></a>
                                </div>
                                <a href="#" class="btn add-cart btn-border">ADD TO CART</a>
                            </div>
                        </div>
                    </figure>
                    <div class="about-product">
                        <h4><a href="#" class="item-name">Liberty or Death</a></h4>
                        <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                        <span class="price"><span>$ 70.00</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax sale-block">
        <div class="container">
            <div class="row">
                <div class="sale-section">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="sale-offer">
                            <h2>COMBO SALE OFF UP TO <strong>50%</strong></h2>
                            <span class="offer-text">Elegant Fashion on Sale Only Today</span>
                            <div id="countdown" class="clearfix"></div>
                            <a href="#" class="check-offer">CHECK IT NOW</a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <figure class="sale-image">
                            <img src="theme/assets/images/img7.png" alt="image" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news-block container">
        <div class="row">
            <div class="block-heading">
                <h2>LATEST NEWS</h2>
                <span class="border-image"> <img src="theme/assets/svg/shape.svg" alt="image" class="svg" /> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 news-block-image">
                <figure class="news-image">
                    <img src="theme/assets/images/img4.jpg" alt="image" />
                    <div class="news-info">
                        <span class="news-date"> <strong>22</strong> MAY </span>
                        <div class="news-text">
                            <h4><a href="#" class="news-text-heading">Made by Hand : Tailor Card Holder</a></h4>
                            <div class="news-social">
                                <a href="#" class="comment"><i class="icon_comment"></i><span>12+</span></a>
                                <a href="#" class="like"><i class="icon_heart"></i><span>33+</span></a>
                                <a href="#" class="author"><i class="icon_profile"></i> <span> Nanoevil </span></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 news-block-content">
                <div class="news-information clearfix">
                    <span class="news-date"> <strong>22</strong> MAY </span>
                    <div class="news-text">
                        <h4><a href="#" class="news-text-heading">New Cllection for Men 2015</a></h4>
                        <div class="news-social">
                            <a href="#" class="comment"><i class="icon_comment"></i><span>12+</span></a>
                            <a href="#" class="like"><i class="icon_heart"></i><span>33+</span></a>
                            <a href="#" class="author"><i class="icon_profile"></i> <span> Nanoevil </span></a>
                        </div>
                    </div>
                </div>
                <div class="news-information clearfix">
                    <span class="news-date"> <strong>19</strong> MAY </span>
                    <div class="news-text">
                        <h4><a href="#" class="news-text-heading">Styling Tips to Steal From the Fall 2015 NYFW Runway</a></h4>
                        <div class="news-social">
                            <a href="#" class="comment"><i class="icon_comment"></i><span>12+</span></a>
                            <a href="#" class="like"><i class="icon_heart"></i><span>33+</span></a>
                            <a href="#" class="author"><i class="icon_profile"></i> <span> Nanoevil </span></a>
                        </div>
                    </div>
                </div>
                <div class="news-information clearfix">
                    <span class="news-date"> <strong>14</strong> MAY </span>
                    <div class="news-text">
                        <h4><a href="#" class="news-text-heading">The Season's Key Pieces: Fall 2015</a></h4>
                        <div class="news-social">
                            <a href="#" class="comment"><i class="icon_comment"></i><span>12+</span></a>
                            <a href="#" class="like"><i class="icon_heart"></i><span>33+</span></a>
                            <a href="#" class="author"><i class="icon_profile"></i> <span> Nanoevil </span></a>
                        </div>
                    </div>
                </div>
                <div class="news-information clearfix">
                    <span class="news-date"> <strong>08</strong> MAY </span>
                    <div class="news-text">
                        <h4><a href="#" class="news-text-heading">5 Ways to Grow Long Hair—Fast</a></h4>
                        <div class="news-social">
                            <a href="#" class="comment"><i class="icon_comment"></i><span>12+</span></a>
                            <a href="#" class="like"><i class="icon_heart"></i><span>33+</span></a>
                            <a href="#" class="author"><i class="icon_profile"></i> <span> Nanoevil </span></a>
                        </div>
                    </div>
                </div>
                <div class="news-information clearfix">
                    <span class="news-date"> <strong>02</strong> MAY </span>
                    <div class="news-text">
                        <h4><a href="#" class="news-text-heading">11 Things You Didn't Know About Hermès</a></h4>
                        <div class="news-social">
                            <a href="#" class="comment"><i class="icon_comment"></i><span>12+</span></a>
                            <a href="#" class="like"><i class="icon_heart"></i><span>33+</span></a>
                            <a href="#" class="author"><i class="icon_profile"></i> <span> Nanoevil </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-section container">
        <div class="row">
            <div class="block-heading">
                <h2>BRAND LOGO</h2>
                <span class="border-image"> <img src="theme/assets/svg/shape.svg" alt="image" class="svg" /> </span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div id="owl-demo-new" class="owl-carousel owl-theme">
                        <div class="item">
                            <figure class="logo-images">
                                <img src="theme/assets/images/logo1.png" alt="image" />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="logo-images">
                                <img src="theme/assets/images/logo2.png" alt="image" />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="logo-images">
                                <img src="theme/assets/images/logo3.png" alt="image" />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="logo-images">
                                <img src="theme/assets/images/logo4.png" alt="image" />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="logo-images">
                                <img src="theme/assets/images/logo2.png" alt="image" />
                            </figure>
                        </div>
                        <div class="item">
                            <figure class="logo-images">
                                <img src="theme/assets/images/logo2.png" alt="image" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content Area End-->