<!--Page Wrapper Start-->
<div id="wrapper">
  <!--container Start-->
  <!--Header Section Start-->
  <header class="header2" id="header">
      <div class="top-header hidden-xs">
          <div class="container">
              <div class="row clearfix">
                  <div class="col-xs-12">
                      <ul class="top-header-left clearfix">
                          <li class="register-link clearfix">
                              <i class="lock-icon icon_lock"> </i><a href="login.html" class="login">Log In</a>
                              <span>/</span><a href="#" class="register">Register </a>
                          </li>
                          <li class="select-wrapper">
                              <select class="select">
                                  <option> English </option>
                                  <option> Spanish </option>
                                  <option> French </option>
                                  <option> German </option>
                              </select><i class="arrow_carrot-down"></i>
                          </li>
                          <li class="select-wrapper">
                              <select class="select">
                                  <option> USD </option>
                              </select><i class="arrow_carrot-down"></i>
                          </li>
                      </ul>
                      <ul class="top-header-right clearfix">
                          <li class="profile">
                              <a href="#"><i class="icon_profile"></i>My Account </a>
                          </li>
                          <li class="gift">
                              <a href="#"><i class="icon_gift"></i> My Wishlist</a>
                          </li>
                          <li class="checkout">
                              <a href="#"><i class="icon_check_alt"></i>Checkout</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="middle-header2">
          <div class="container">
              <div class="row clearfix">
                  <div class="col-xs-12 middle-header-content">
                      <div class="middle-header2-right clearfix">
                          <form class="clearfix">
                              <input type="text" placeholder="SEARCH" name="search">
                              <button type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </form>
                          <div class="cart-wrapper clearfix">
                              <div class="open-cart">
                                  <span class="cart">CART</span><i class="shopping-cart fa fa-shopping-cart"> <span class="badge">0</span> </i>
                              </div>
                              <div class="item-block">
                                  <ul class="item-list">
                                      <li>
                                          <figure class="item-image">
                                              <a href="#"><img src="theme/assets/images/img-one.jpg" alt="t-shirt" /></a>
                                          </figure>
                                          <div class="item-description">
                                              <a href="#" class="item-name">T-Shirt Retro Black</a>
                                              <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                                              <strong class="price">$ 70.00</strong>
                                          </div>
                                          <span class="delete fa fa-trash"> </span>
                                      </li>
                                      <li>
                                          <figure class="item-image">
                                              <a href="#"><img src="theme/assets/images/img-two.jpg" alt="t-shirt" /></a>
                                          </figure>
                                          <div class="item-description">
                                              <a href="#" class="item-name">T-Shirt Retro Black</a>
                                              <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                                              <strong class="price">$ 70.00</strong>
                                          </div>
                                          <span class="delete fa fa-trash"> </span>
                                      </li>
                                      <li>
                                          <figure class="item-image">
                                              <a href="#"><img src="theme/assets/images/img-three.jpg" alt="t-shirt" /></a>
                                          </figure>
                                          <div class="item-description">
                                              <a href="#" class="item-name">T-Shirt Retro White</a>
                                              <span class="review-icon clearfix"> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star active"></i> <i class="icon_star"></i> </span>
                                              <strong class="price">$ 70.00</strong>
                                          </div>
                                          <span class="delete fa fa-trash"> </span>
                                      </li>
                                  </ul>
                                  <div class="total-amount clearfix">
                                      <span class="total">Total</span>
                                      <span class="amount">€1145.00</span>
                                  </div>
                                  <div class="butn-group clearfix">
                                      <a href="#" class="cart">VIEW CART</a>
                                      <a href="#" class="checkout">CHECKOUT</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="menu-section hidden-xs">
                          <a href="#" class="clearfix"><i class="fa fa-bars"></i> MENU </a>
                      </div>
                      <a href="homepage-two.html" class="header2-logo"> <img src="theme/assets/images/homepage2-logo.png" alt="LOOK"> </a>
                  </div>
              </div>
          </div>
      </div>
      <nav class="navigation">
          <div class="container">
              <div id="cssmenu">
                  <a href="javascript:void(0);" class="main-menu menu-image"></a>
                  <ul class="menu-links">
                      <li class="active has-sub">
                          <a href="javascript:void(0);">Home</a>
                          <i class="fs1 mmenu eicon visible-xs" data-icon="3"></i>
                          <ul class="sub-menu">
                              <li>
                                  <a href="index.html">homepage 1</a>
                              </li>
                              <li>
                                  <a href="homepage-two.html">homepage 2</a>
                              </li>
                              <li>
                                  <a href="homepage-three.html">homepage 3</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">MEN</a>
                      </li>
                      <li>
                          <a href="#">WOMEN</a>
                      </li>
                      <li>
                          <a href="javascript:void(0);">Shop</a>
                          <i class="fs1 mmenu eicon visible-xs" data-icon="3"></i>
                          <ul class="sub-menu">
                              <li>
                                  <a href="categories.html">categories</a>
                              </li>
                              <li>
                                  <a href="categories-grid-left.html">categories grid left</a>
                              </li>
                              <li>
                                  <a href="categories-list-sidebar.html">categories list sidebar</a>
                              </li>
                              <li>
                                  <a href="product-page.html">product</a>
                              </li>
                              <li>
                                  <a href="shopping-cart.html">shopping cart</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">PAGES</a>
                      </li>
                      <li class="has-sub">
                          <a href="javascript:void(0);">BLOG</a>
                          <i class="fs1 mmenu eicon visible-xs" data-icon="3"></i>
                          <ul class="sub-menu">
                              <li>
                                  <a href="blog-grid-sidebar.html">Blog grid sidebar</a>
                              </li>
                              <li>
                                  <a href="blog-list-sidebar.html">Blog list sidebar</a>
                              </li>
                              <li>
                                  <a href="blog-detail.html">blog detail</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="contact.html">Contact us</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>

  <!---- NON-HEADER CONTENT GOES HERE! (Content Area) ---->
  <ui-view></ui-view>

  <div ng-include="'core/view/footer.html'"></div>
</div>

<script type="text/javascript">
if ($(".select").length) {
    $(".select").selectbox();
}
</script>